@font-face {
    font-family: 'Cera Pro';
    src: url('./CeraProThin.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}  
@font-face {
    font-family: 'Cera Pro';
    src: url('./CeraProRegular.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('./CeraProMedium.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('./CeraProLight.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('./CeraProBold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('./CeraProBlack.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}